{{ define "main" }}
<section class="section">
  <div class="container">

    <div class="page-head">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ if .Params.subtitle }}
          <p class="project-subtitle">{{ .Params.subtitle  | markdownify }}</p>
        {{ end }}
        {{ if .Params.addCallCTA }}
        <div class="article_button">
          <form class="form" action="https://lead-capture-95fa3f.zapier.app/" method="GET" target="_blank">
              <button class="button button--middle" type="submit">Kontaktni obrazec <i class="ion ion-ios-paper-plane"></i></button>
          </form>
          </div>
        {{ end }}    
    </div>
  </div>
</section>

{{ partial "section-hero.html" . }}  

{{ partial "key-features.html" . }}  

{{ partial "social-proof.html" . }}  

{{ partial "aida-call.html" . }}  



{{ end }}