.posnetek_description {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $text-color-alt;
}
.posnetek_preview {
font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    color: $text-color-alt;
}
audio {
    width: 100%;
}