<div class="aidacall">
    <div class="container">
        <h2>{{ .Params.aida_header }}</h2>
        <p>{{ .Params.aida_attention }}</p>
        <p>{{ .Params.aida_interest }}</p>
        <p>{{ .Params.aida_desire }}</p>
        <p>{{ .Params.aida_action }}</p>
        
        <div class="article_button">
            <form class="form" action="https://calendly.com/hipnoterapija/spoznavniklic" method="GET" target="_blank">
                <button class="button button--middle" type="submit">Spoznavni klic <i class="ion ion-ios-paper-plane"></i></button>
            </form>
        </div>
    </div>

</div> 