
<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title">{{ .Title }}</h3>
            <div class="subscribe__subtitle">
              <span class="typer" id="typer-js" data-words="{{ .Params.subtitle  | markdownify }}" data-delay="80" data-deleteDelay="1500"></span>
              <span class="cursor" data-cursorDisplay="|" data-owner="typer-js"></span>
            </div>
          </div>

          <div class="ml-embedded" data-form="4qnuGb"></div>

        </div>
      </div>
    </div>
  </div>
</section>