<article class="article col col-6 col-d-6 col-t-12">
  <div class="article__inner">

    {{ if .Params.Image }}
      <div class="image-wrap">
        {{ if eq .Params.tip "download"}}
        <a class="article__image" href="{{ .RelPermalink }}">
          <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
        </a>
        {{ end }}
        {{ if eq .Params.tip "youtube"}}
        <a class="article__image" href="{{ .Params.youtubelink }}">
          <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
        </a>
        {{ end }}
      </div>
    {{ end }}

    <div class="article__content">

      {{ if .Params.tags }}
      <div class="article-tags__box">
        {{ range ($.GetTerms "tags") }}
        <a href="{{ .Permalink }}" class="article__tag">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
      {{ end }}

      <h2 class="article__title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>



      <div class="article__meta">
        <p class="posnetek_description">{{ .Params.description}}</p>
        {{ if eq .Params.tip "download"}}
          <a  class="article__title"href="{{.Params.downloadlink }}" target="_blank">Prenos posnetka</p>
        {{ end }}
      </div>
    </div>
  </div>
</article>