

<section class="section projects" id="storitve">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Kako ti <span class="text-span">pomagam</span></h2>
              
            </div>
            
              <p class="section__description">Pri delu vključujem hipnoterapijo in tehnike za izboljšanjev vzorcev spanja, pomoč pri hujšanju, tehnike za krepitve zaupanja in več.</p>
            
            
            <p class="section__description">Nauči se kako hipnoterapija deluje in kako je lahko koristna za vse, ki želijo narediti pozitivne spremembe v svojem življenju.</p>
          
          </div>

          <div class="row">
            

            <div class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
            
                
                  <div class="image-wrap">
                    <img class="lazy loaded" alt="Hipnoterapija za spanje" data-ll-status="loaded" src="/images/banners/hipnoterapija-za-spanje.webp">
                  </div>
                
            
                <div class="article__home_content">
                  <h2 class="article__title">
                    Hipnoterapija za spanje
                  </h2>
                  <p class="article__home_excerpt">
                    Hipnoza za spanje ti pomaga pri sproščanju pred spanjem, umirjanju misli, ki ti ne pustijo spati in odstraniti vse slabe spalne navade, ki ti ne pustijo spati.
                  </p>            
                </div>
              </div>
            </div>

            

            <div class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
            
                
                  <div class="image-wrap">
              
                      <img class="lazy loaded" alt="Hipnoterapija za hujšanje" data-ll-status="loaded" src="/images/banners/hipnoterapija-za-hujsanje.webp">
                    
                  </div>
                
            
                <div class="article__home_content">
                  <h2 class="article__title">
                    Hipnoterapija za hujšanje
                  </h2>
                  <p class="article__home_excerpt">S hipnoterapijo za hujšanje se globoko v podzavesti naučiš boljših prehranjevalnih navad. S pomočjo hipnoterapije razviješ strategije za učinkovitejše odzive na sprožilce čustvenega prenajdanja.</p>            
                </div>
              </div>
            </div>

            

            <div class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
            
                
                  <div class="image-wrap">
                      <img class="lazy loaded" alt="Hipnoza za samozavest" data-ll-status="loaded" src="/images/banners/hipnoterapija-za-samozavest.webp">
                  </div>
                
            
                <div class="article__home_content">
                  <h2 class="article__title">
                    Hipnoza za samozavest
                  </h2>
                  <p class="article__home_excerpt">Če iščeš pozitivno spremembo, ti lahko pomaga hipnoza za samozavest. Tranformiraj svoj notanji pogled, izostri fokus in pridobi samozaupanje.</p>            
                </div>
              </div>
            </div>

            
          </div>

        </div>
      </div>
    </div>
  </div>
</section>