

<section class="section" id="intro video">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="contaniner__inner animate">
  
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">O hipnozi in <span class="text-span">spanju</span></h2>
                
              </div>
              
                <p class="section__description">Poslušaj videa o hipnozi, spanju ter izkušnji stranke</p>
                    
            </div>
  
            <div class="row">
              
  
              <div class=" col col-6 col-d-6 col-t-12">
                <div>
                    <div class="video">
                        <div class="js-reframe" style="position: relative; width: 100%; padding-top: 50.6579%;"><iframe src="https://www.youtube.com/embed/G0I99oWVAUM" allowfullscreen="" title="YouTube Video" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;"></iframe></div>
                    </div>
                </div>
              </div>

              
              <div class=" col col-6 col-d-6 col-t-12">
                <div>
                    <div class="video">
                        <div class="js-reframe" style="position: relative; width: 100%; padding-top: 50.6579%;"><iframe src="https://www.youtube.com/embed/GdRzI0asOzE" allowfullscreen="" title="YouTube Video" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;"></iframe></div>
                    </div>
                </div>
              </div>
  
              
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>