

<section class="section" id="intro video">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="contaniner__inner animate">
  
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">O hipnozi in <span class="text-span">spanju</span></h2>
                
              </div>
              
                <p class="section__description">Poslušaj videa o hipnozi, spanju ter izkušnji stranke</p>
                    
            </div>
  
            <div class="row">
              
  
              <div class=" col col-6 col-d-6 col-t-12">
                <div>
                  <div class="gallery-box">
                    <div class="gallery">
                      <a href="https://youtu.be/G0I99oWVAUM"><img alt="O hipnoterapiji" src="/images/clanki/o-hipnoterapiji-yt.webp"><a>
                    </div>
                    <em><a href="https://youtu.be/G0I99oWVAUM">O hipnoterapiji</a></em>
                  </div>
                
                </div>
              </div>

              
              <div class=" col col-6 col-d-6 col-t-12">
                <div>
                  <div class="gallery-box">
                    <div class="gallery">
                      <a href="https://youtu.be/GdRzI0asOzE"><img alt="hipnoterapija izkušnje" src="/images/clanki/hipnoza-za-spanje-izkusnja-yt.webp"><a>
                    </div>
                    <em><a href="https://youtu.be/GdRzI0asOzE">Hipnoterapija izkušnje</a></em>
                  </div>

                </div>
              </div>
  
              
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>