
<a name="dovolj-slabega-spanja"></a>
<section class="section" id="freebie" >
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="contaniner__inner animate">
  
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">Dovolj <span class="text-span">slabega spanja</span> </h2>
     
              </div>
            </div>
            <div class="row">
              <div class="col col-12">
                <div>
                    <img src="/images/delavnice/dovolj-slabega-spanja-front.webp" alt="Tvoje prespane oči" />
                </div>
              </div>

              <div class=" col col-12">
                <div class="article_button"><p>Prijava na tečaj Dovolj slabega spanja. </p>
                    <form class="form" action="https://bit.ly/dovolj-slabega-spanja" method="GET" target="_blank">
                        <button class="button button--middle" type="submit">PRIJAVA<i class="ion ion-ios-paper-plane"></i></button>
                    </form>
                </div>
              </div>              
           
  
              
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>