

<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Kako ti <span class="text-span">pomagam</span></h2>
              <a class="section__link" href="/storitve">Poglej vse <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            
              <p class="section__description">Pri delu vključujem hipnoterapijo in tehnike za izboljšanjev vzorcev spanja, pomoč pri hujšanju, tehnike za krepitve zaupanja in več.</p>
            
            
            <p class="section__description">Nauči se kako hipnoterapija deluje in kako je lahko koristna za vse, ki želijo narediti pozitivne spremembe v svojem življenju.</p>
          
          </div>

          <div class="row">
            

            <div class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
            
                
                  <div class="image-wrap">
                    <a class="article__image" href="hipnoterapija-za-spanje">
                      <img class="lazy loaded" alt="Hipnoterapija za spanje" data-ll-status="loaded" src="/images/banners/hipnoterapija-za-spanje.png">
                    </a>
                  </div>
                
            
                <div class="article__home_content">
                  <h2 class="article__title">
                    <a href="hipnoterapija-za-spanje">Hipnoterapija za spanje</a>
                  </h2>
                  <p class="article__home_excerpt">Sleep hypnosis helps you relax, let go of stress and overthinking, and reclaim your restful sleep.</p>            
                </div>
              </div>
            </div>

            

            <div class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
            
                
                  <div class="image-wrap">
                    <a class="article__image" href="hipnoterapija-za-hujsanje">
                      <img class="lazy loaded" alt="Hipnoterapija za hujšanje" data-ll-status="loaded" src="/images/banners/hipnoterapija-za-hujsanje.png">
                    </a>
                  </div>
                
            
                <div class="article__home_content">
                  <h2 class="article__title">
                    <a href="hipnoterapija-za-hujsanje">Hipnoterapija za hujšanje</a>
                  </h2>
                  <p class="article__home_excerpt">S hipnoterapijo za hujšanje se globoko v podzavesti naučiš boljših prehranjevalnih navad. S pomočjo hipnoterapije razviješ strategije za učinkovitejše odzive na sprožilce čustvenega prenajdanja.</p>            
                </div>
              </div>
            </div>

            

            <div class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
            
                
                  <div class="image-wrap">
                    <a class="article__image" href="hipnoterapija-za-samozavest">
                      <img class="lazy loaded" alt="Hipnoza za samozavest" data-ll-status="loaded" src="/images/banners/hipnoterapija-za-samozavest.png">
                    </a>
                  </div>
                
            
                <div class="article__home_content">
                  <h2 class="article__title">
                    <a href="hipnoterapija-za-samozavest">Hipnoza za samozavest</a>
                  </h2>
                  <p class="article__home_excerpt">Če iščeš pozitivno spremembo, ti lahko pomaga hipnoza za samozavest. Tranformiraj svoj notanji pogled, izostri fokus in pridobi samozaupanje.</p>            
                </div>
              </div>
            </div>

            
          </div>

        </div>
      </div>
    </div>
  </div>
</section>